ion-content {
    --background: url('/assets/fondo.png') center center fixed no-repeat;
    background-size: auto;
  }

.btn_iniciar{
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.link_olvido{
    text-decoration: none;
    color: #2dd36f;
}

.titulo_principal{
    font-size: 18px;
    color: rgb(98, 208, 145);
  }
  
  .titulo_secundario{
    color: rgb(98, 208, 145);
    font-size: 16px;
    text-align: left;
    margin-right: 10px;
    margin-top: 20px;
  }

.div_volver{
    position: absolute;
    margin-top: 100px;
    left: 0;
    padding: 10px; 
}

.link_volver{
    color: rgb(98, 208, 145);
    text-decoration: none;
}