ion-content {
    --ion-background-color: rgb(0,0,0);
  }
  
  .loading-container {
    background-color: black; 
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-container img {
    display: block;
  }