<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding">
    <strong class="titulo_principal">VAULT-TEC OPERATING SYSTEM</strong>
    <div>
      <strong class="titulo_principal">COPYRIGHT 2023-2025 VAULT-TEC</strong>
    </div>
    <div>
      <strong class="titulo_principal">-VER 0.90.5-</strong>
    </div>
    <br>
    <div class="ion-text-center">
      <ion-text class="titulo_secundario"> > Bienvenido estudiante, ¿Qué desea hacer?</ion-text>
    </div>
  </div>

  <ion-content>
    <div class="ion-text-center ion-align-items-center">
      <ion-button class="btn_iniciar" color="success" (click)="iraLogin()">Iniciar sesión</ion-button>
      <ion-button class="btn_iniciar" color="success" (click)="iraRegistro()">Registrarse</ion-button>
    </div>
    <div class="ion-text-center ion-align-items-center">
      <img class="logo" src="/assets/logo.png" width="240px" alt="">
    </div>
</ion-content>